#body {
    background-image: linear-gradient(
        35deg,
        rgb(185, 255, 214),
        rgb(245, 250, 175) 70%
    );
}

#buttons {
    margin: auto;
    width: 50%;
    padding: 0.8rem;
    text-align: center;
}

#score {
    margin: auto;
    width: 50%;
    padding: 0.6rem;
    text-align: center;
    display: flex;
}

#scorePlayer,
#scoreComputer {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    outline: none;
    height: 5.625rem;
    width: 5.625rem;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: bold;
    color: blue;
    background-image: linear-gradient(45deg, rgb(0, 255, 106), rgb(0, 233, 19));
}

#btnNewGame {
    outline: none;
    height: 5.625rem;
    width: 5.625rem;
    border-radius: 1.25rem;
    font-size: 1.25rem;
    font-weight: bolder;
    font-family: "Courier New", Courier, monospace;
    background-image: linear-gradient(
        to top,
        rgb(201, 201, 201),
        rgb(255, 255, 255) 50%
    );
}
